@import 'variables';

.feature-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  // background: $yellow-alt;
  padding: 1rem;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: calc(50vh - 6rem);
}

.feature-1-text {
  display: grid;
  max-width: 40rem;
}
.feature-1 h2 {
  background: $blue-alt;
  box-shadow: 5px 5px 0px $darkblue-alt;
}

.feature-1 p {
  color: var(--black);
}

.feature-1 img {
  filter: grayscale(0.8);
  border-radius: 50%;
}
