@import 'variables';
.locations {
  background: $light-green;
  padding: 2rem;
  position: relative;
  h2 {
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: -1px;
    // text-transform: uppercase;
    margin:0;
  }
  .tab-content {
    background: #d1e0c4;
    // min-height: calc(100vh - 8rem);
    .tab-pane {
      display: none;
      opacity: 0;
      transition: opacity 300ms linear;
    }
    .tab-pane.show {
      display: block;
    }
    .tab-pane.show.fade {
      opacity: 1;
    }
  }
  .ywig-location-pills {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;

    .nav-link {
      color: $dark-green;
      background: $white;
      padding: 0.5rem;
      text-decoration: none;
    }
    .nav-link.active {
      background: #d1e0c4;
      color: $dark-green;
    }
  }
  .location-info-wrap {
    display: grid;
    grid-template-columns: 1fr 40vw;
    min-height: 8rem;

    .location-info-left {
      padding: 1rem;
    }
    .location-info-right {
      // padding: 1rem;

      margin: 1rem;
      display: grid;
      grid-template-columns: 6rem 18rem;

      p {
        font-size: 0.8rem;
        font-weight: bold;
      }
      div {
        display: grid;
      }
    }
  }
}
.projects-wrap {
  padding: 1rem;
  display: grid;
  background: #d1e0c4;
  //min-height: tbc
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
  }
  h4 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    height: 2.2rem;
    font-weight: 600;
    color: $dark-green;
    margin: 0;
  }
  p {
    color: $dark-green;
    font-weight: lighter;
  }
  .project-info {
    grid-gap: 0.5rem;
    display: grid;

    background: $white;
    padding: 1rem;
    align-content: baseline;
    justify-content: center;
    height: 100%;
  }
  .project-info-all {
    display: none;
    grid-gap: 0.5rem;
    background: #ffffff;
    padding: 1rem;
    align-content: baseline;
    justify-content: center;
    position: relative;
    grid-template-rows: 8rem 1fr 4rem 4rem;
    opacity: 0;
    transition: opacity 300ms linear;
    .location-tags-wrap {
      grid-auto-flow: column;
      grid-gap: 1rem;
      justify-content: right;
      justify-items: center;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      display: grid;
      justify-self: center;
      width: calc(100% - 2rem);
      border-top: 0.1rem solid #80808054;
      padding-top: 1rem;
      align-items: center;
      span {
        border: 0.05rem solid orange;
        border-radius: 0.5rem;
        padding: 0.2rem 0.4rem !important;
        align-content: center;
        line-height: 1rem;
        display: grid;
        padding: 0.5rem;
        align-items: center;
        white-space: nowrap;
        font-size: 0.8rem;
      }
    }
  }
  .project-info-all.show-proj {
    display: grid;
  }
  .project-info-all.show-proj.fade {
    opacity: 1;
  } 
}
