@import 'variables';

.heroine {
  // background: rebeccapurple;
  min-height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:0.2rem;
  grid-template-areas:
    'l-one l-two l-two'
    'l-one l-three l-three';

  .heroine-box {
    min-height: 50%;
  }
  h3 {
    color: $white;
    font-weight: 700;
    font-size: 1.4rem
  }
  .heroine-l-one {
    grid-area: l-one;
    display: grid;

    .heroine-box {
      background: $light-green;
      display: grid;
      justify-content: flex-start;
      align-content: center;
      svg {
        // background:red;
        // width: 20rem;
      }
      h2 {
        color: $white;
        font-size: 2.5rem;
        font-weight: 800;
        margin-left: 2rem;
        span {
          display:block;
        }
      }
    }
  }
  .heroine-l-two {
    grid-area: l-two;
    display: grid;
    grid-auto-flow: column;
    .heroine-box {
      background: $counselling-red;
      display: grid;
      align-content: center;
      p {
        color: $white;
        max-width: 30rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
      a {
        justify-self: flex-start;
      }
    }
  }
  .heroine-l-three {
    grid-area: l-three;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.2rem;
    .heroine-box {
      display: grid;
      padding: 2rem;
      align-content: center;
      justify-items: flex-start;

      p {
        color: $white;
        max-width: 30rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
  .heroine-l-two-box-two {
    position: relative;
  }
  .heroine-l-two-box-two::after {
    content: 'Featured Project';
    position: absolute;
    background: $white;
    color: $dark-green;
    width: 8rem;
    height: 2rem;
    top: -0.1rem; 
    right: 0;
    font-weight: 800;
    text-align: right;
    padding: 0.6rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
    box-shadow: -1px 1px 2px 1px $dark-green;

  }
  .heroine-l-three-box-one {
    background: $blue;
  }
  .heroine-l-three-box-two {
    background: $orange;
  }
}

// butotn
.btn-link {
  color: $white;
  border: 0.1rem solid $white;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  line-height: 1.1rem;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .heroine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'l-one l-one'
      'l-two l-two'
      'l-three l-three';
  }
}
@media only screen and (max-width: 576px) {
  .heroine {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'l-one'
      'l-one'
      'l-two'
      'l-two'
      'l-three'
      'l-three';

      .heroine-l-one,.heroine-l-two, .heroine-l-three {
        grid-auto-flow: row;
      }
      .heroine-l-two-box-two {
        display: grid;
        padding: 2rem;
        align-content: center;
        justify-items: flex-start;
      }
  }
}
