.location-info-wrap {
  display: grid;
  padding: 0;

  .location-info-right {
    display: grid;

    justify-content: flex-start;
    grid-gap: 1rem;
    align-items: center;
    align-content: center;
    background: $dark-white;
    padding: 1rem 0.5rem;
    border-radius: 2px;

    p {
      font-size: $smallFontSize;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
    }
    div {
      display: grid;
      grid-gap: 1rem;
    }
  }
}

@media only screen and (max-width: 567px) {
  .location-info-right {
    padding: 1rem;
    grid-auto-flow: column;
  }
}
