@import 'variables';
// for using bootstrap

.header {
  display: grid;
  .ywig-social-btn {
    font-size: 1.5rem;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    display: inline-grid;
  }
}

.header {
  display: grid;
  grid-template-columns: 22rem 1fr; // see .heroine grid-template-columns
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  z-index: 999;
  background: $white;
  width: 100%;
  .navbar {
    padding: 0;
  }
  ul {
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
    li {
      .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0;
      }
    }
    li.donate-btn {
      background: $red;
      border: 0.2rem solid $black;
      padding-right: 0.6rem;
      padding-left: 0.6rem;
      font-weight: bolder;
      transform: rotate(-4deg);
      a {
        color: $white;
      }
    }
  }
}

.header-left {
  display: grid;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 1rem 1.5rem 1.5rem 1rem;
  grid-auto-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  .navbar-brand {
    padding-bottom: 0;
  }
  img {
    height: 4rem;
  }
}

.header-right {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  // padding-bottom: 0.5rem;

  .navbar {
    ul {
      li {
        a.nav-link {
          white-space: nowrap;
          color: $black;
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 0.2rem solid transparent;
        }
      }
    }
  }
  .navbar-socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    grid-gap: 0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  body {
    margin-top: 12rem !important;
    .header {
      grid-template-columns: 1fr;
      .navbar {
        padding: 1rem;
      }
      .header-right {
        grid-template-columns: 1fr;
        background: $white;
        padding: 0 1rem;
        li {
          border-bottom: 1px solid rgba(51, 45, 45, 0.19);
          a {
            padding: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}


