@import 'variables';
// for no bootstrap

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #ffffff;
  width: 100%;
  display: grid;
  // padding: 0rem 3rem;
  padding: 0rem;
  align-content: center;
  height: 7rem;
  transition: height 0.2s ease-in-out;
  .current-menu-item {
    a {
      color: $greeny-blue-alt;
      border-bottom: 0.2rem solid $greeny-blue-alt;
    }
  }
  .current-menu-ancestor {
    // background: $greeny-blue-alt;
    border-bottom: 0.2rem solid $greeny-blue-alt;
  }

  .ywig-social-btn {
    font-size: 1.5rem;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    display: inline-grid;
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
  .navbar {
    padding: 0;
  }
  ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 1rem;
    margin: 0;
    grid-gap: 0.5rem; // in case it runs out of 'space-between'.
    justify-content: space-between;

    li {
      position: relative;
      height: 100%;
      a {
        text-decoration: none;
        padding-left: 0;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        white-space: nowrap;
      }

      a:hover {
        border-bottom: 0.2rem solid $greeny-blue-alt;
      }

      ul.sub-menu {
        display: none;
        position: absolute;
        li {
          // padding: 0.5rem 1rem;
          word-break: keep-all;
        }
      }
    }

    li.donate-btn {
      a {
        padding: 0.5rem 0.75rem;
        background: $dark-white;
        box-shadow: $box-shadow-small;
      }
    }
  }
  ul#menu-main-menu > li {
    // padding-bottom: 1rem;
    white-space: nowrap;
  }

  .header-left {
    display: grid;
    transition: all 0.2s ease-in-out;
    height: 5rem;
    grid-template-columns: 8rem 1fr 8rem;
    max-width: 100%;
    align-content: center;
    grid-gap: 2rem;
    padding: 0rem 6rem;
    .navbar-toggler {
      grid-column-start: 1; // needs to be directly before the <nav> in DOM for accessibility, keep it left visually.
      background-color: transparent;
      border: 1px solid transparent;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 3rem;
      background: $white;
      cursor: pointer;
      padding-bottom: 4px;

      span.dropdown-icon.open {
        display: block;
        svg {
          width: 2.5rem;
        }
      }

      span.dropdown-icon.close {
        display: none;
        svg {
          width: 2.5rem;
        }
      }
    }

    .navbar-toggler[aria-expanded='true'] {
      display: block;

      span.dropdown-icon.open {
        display: none;
      }

      span.dropdown-icon.close {
        display: block;
      }
    }

    .custom-logo-link {
      display: grid;
      align-self: center;
      img {
        width: 10rem;
      }
    }
    .navbar-socials {
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-end;
      grid-gap: 0.5rem;
      align-self: center;

      a.ywig-social-btn {
        padding-left: 1rem;
      }
    }
  }

  #navbarSupportedContent {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    position: relative;
    // justify-items: center;
    align-self: flex-end;
    .sub-menu-toggle {
      background: none;
      border: none;
      svg {
        fill: $black;
      }
    }
  }
}

// Larger screens only.
@media only screen and (min-width: 980px) {
  // always hide button on larger screen (even if nav-open)
  .header {
    .header-left {
      .navbar-toggler,
      .navbar-toggler.nav-open {
        display: none;
      }

      ul.sub-menu {
        display: none;
        opacity: 1;
        grid-auto-flow: row;
        grid-gap: 1rem;
        position: absolute;
        min-width: 10rem;
        background: $white;
        box-shadow: 1px 1px 2px $light-black;
        transition: all 0.1s ease-in-out;
        box-sizing: border-box;
        z-index: 10;
      }

      // js adds .submenu-reposition-right if submenu runs out of horizontal space.
      ul.sub-menu.submenu-reposition-right {
        right: 0;
        left: auto !important; // :(
        top: 100% !important; // :(
      }
      // nested sub menus
      li.menu-item-has-children {
        ul {
          display: none;
          opacity: 1;
          grid-auto-flow: row;
          grid-gap: 1rem;
          position: absolute;
          min-width: 10rem;
          background: $white;
          box-shadow: 1px 1px 2px $light-black;
          transition: all 0.1s ease-in-out;
          box-sizing: border-box;
          z-index: 10;
          li.menu-item-has-children {
            ul {
              display: none;
              opacity: 1;

              left: 100%;
              top: 0;
              grid-auto-flow: row;
              grid-gap: 1rem;
              position: absolute;
              min-width: 10rem;
              background: $white;
              box-shadow: 1px 1px 2px $light-black;
              transition: all 0.1s ease-in-out;
              box-sizing: border-box;
              z-index: 10;
            }
          }
        }
      }
    }

    .sub-menu-toggle[aria-expanded='true'] ~ ul.sub-menu {
      display: grid;
    }
    li.menu-item-has-children {
      .sub-menu-toggle[aria-expanded='true'] ~ ul.sub-menu {
        display: grid;
      }
    }
    .sub-menu-toggle[aria-expanded='true'] > span.icon-plus {
      display: none;
    }
    .sub-menu-toggle[aria-expanded='false'] > span.icon-minus {
      display: none;
    }

    .icon-minus,
    .icon-plus {
      svg {
        width: 0.8rem;
        height: 0.8rem;
        // background: yellow;
        margin-bottom: 1px;
        vertical-align: top;
        path {
          fill: $black;
        }
      }
    }
  }
}

// between 900px and 1300px
@media only screen and (max-width: 1300px) {
  .header {
    .header-left {
      padding: 0rem 1rem;

      .navbar-socials {
      }
    }
  }
}

// Mobile Menu
@media only screen and (max-width: 980px) {
  ul#menu-main-menu {
    li.current-menu-item a {
      color: $yellow-alt;
    }
  }

  // Don't change header height on scroll for mobile screens,
  header#home.with-bg-color {
    height: 7rem;
  }

  // Don's show .current-ancestor underline on mobile because all .sub-menus are expanded.
  header {
    ul#menu-main-menu {
      margin-top: 2rem;
      background: rgba(69, 66, 66, 0.98); //$black with opacity;

      li.current-menu-ancestor {
        border-bottom: none;
      }

      // Style .donate-btn like all other links on mobile.
      li.donate-btn {
        a {
          background: none;
          padding: 1rem;
          box-shadow: none;
        }
      }
    }
  }

  .header-left {
    .navbar-toggler {
      position: absolute;
      right: 1rem;
      top: -3rem;
    }

    // Don't show social media icons on mobile.
    div.navbar-socials {
      display: none !important;
    }

    #navbarSupportedContent {
      position: absolute;
      top: 5rem;
      width: 100%;
      z-index: 99;
      height: 0;
      a[href] {
        //  text-decoration: underline;
      }
      a {
        font-size: 1.25rem;
        display: block;
        width: 100%;
        border-bottom: none;
        padding: 1rem 0rem;
        color: $white;
      }
      a[href]:hover,
      a[href]:focus {
        color: $yellow-alt; // green contrast not good enough on black
      }

      ul {
        visibility: hidden;
        grid-auto-flow: row;

        padding: 2rem 2rem;
        grid-gap: 0rem;
        width: 100%;

        li {
          padding: 0rem 1rem;
          width: 100%;
          button {
            display: none;
          }
          ul.sub-menu {
            display: grid;
            grid-auto-flow: row;
            background: none;
            // background: pink;
            position: relative;
            padding: 0rem;
            li {
              padding: 0rem 1rem;
            }
            ul {
              padding: 0rem;
              li {
                padding: 0rem;
              }
            }
          }
        }
        .navbar-toggler[aria-expanded='true'] ~ ul#menu-main-menu {
          visibility: visible;
        }
        .navbar-toggler[aria-expanded='true'] ~ ul#menu-main-menu ul.sub-menu {
          visibility: visible;
        }
      }
    }
    #navbarSupportedContent.show {
      // -webkit-transform: translateX(0vw);
      // transform: translateX(0vw);

      ul {
        visibility: visible;
      }
    }
  }
}
@keyframes slidein {
  from {
    transform: translateX(-400vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400vw);
  }
}
