@import 'variables';
// for no bootstrap

.header {
  display: grid;
  .ywig-social-btn {
    font-size: 1.5rem;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    display: inline-grid;
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 22rem 1fr; // see .heroine grid-template-columns
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  z-index: 999;
  background: $white;
  width: 100%;
  grid-gap: 0.5rem;
  .navbar {
    padding: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      a {
        text-decoration: none;
        padding-left: 0;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem;
      }
      ul.sub-menu {
        display: none;
      }
    }
    li.donate-btn {
      background: $red;
      border: 0.2rem solid $black;
      padding-right: 0.6rem;
      padding-left: 0.6rem;
      font-weight: bolder;
      a {
        color: $white;
      }
    }
  }
}

.header-left {
  display: grid;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 1rem 1.5rem 1rem 1rem;
  grid-auto-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  .navbar-brand {
    padding-bottom: 0;
    display: inline-block;
    padding-top: 0.3125rem;
    // padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  img {
    height: 4rem;
  }
  .navbar-socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    grid-gap: 0.5rem;

    a.ywig-social-btn {
      padding-left: 1rem;
    }
  }
}

.header-right {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  // padding-bottom: 0.5rem;
	.navbar-toggler {
		display: none;
		.line {
			width: 2rem;
			height:0.2rem;
			background: red;
		}
	}
  .navbar {
    ul {
      li {
        a.nav-link {
          white-space: nowrap;
          color: $black;
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 0.2rem solid transparent;
        }
      }
    }
  }

}

@media only screen and (max-width: 576px) {
  body {
    margin-top: 12rem !important;
    .header {
      grid-template-columns: 1fr;
      .navbar {
        // padding: 1rem;
      }
      .header-left {
        z-index: 999;
        background: white;
      }
      .header-right {
        grid-template-columns: 1fr;
        padding: 1rem;

        padding: 0;

        #navbarSupportedContent {
          max-height: 0px;
          // transform: translateY(-175%);
          width: 100%;
          transition: all 0.5s linear;
					background: $white;
					overflow: hidden;
          ul {
            flex-direction: column;
          }
          li {
            border-bottom: 1px solid rgba(51, 45, 45, 0.19);
            padding: 0.5rem;

            a {
              font-size: 1.2rem;
            }
          }
          ul.sub-menu {
            display: grid;
            padding-left: 1rem;
            li {
              border-bottom: none;
            }
          }
        }
        .navbar-toggler {
					display: grid;
					align-items: center;
					align-content: space-around;
					height: 2.5rem;
					padding:0.5rem;
          z-index: 9999;
          position: relative;
          margin-left: 1rem;
        }
        #navbarSupportedContent.show {
          max-height: 500px;
    // transition: max-height 0.25s ease-in;

          // transform: translateY(0px);
         
        }
      }
    }
  }
}

// // navbar-toggler keep above nav items
// border: 2px solid blue;
//     z-index: 9999;
// 		position: relative;

// 		// and .header-left
// 		z-index: 999;
//     background: white;
