@import 'variables';
// for no bootstrap

.header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: $white;
  width: 100%;
  .ywig-social-btn {
    font-size: 1.5rem;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    display: inline-grid;
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
  .navbar {
    padding: 0;
  }
  ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-gap: 3rem;
    li {
      position: relative;
      position: relative;
      padding-bottom: 1rem;
      height: 100%;
      a {
        text-decoration: none;
        padding-left: 0;
        color: $black;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
        white-space: nowrap;
      }
      a.nav-active {
        color: red;
      }
  

      ul.sub-menu {
       
        display: none;
        position: absolute;
        li {
          padding: 0.5rem 1rem;
          word-break: keep-all;
        }
      }
    }
    li.donate-btn {
      a {
        background: $greeny-blue-alt;
        padding: 0.5rem 0.75rem;
      }
    }
  
  }
  .header-left {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    padding: 1rem 3rem;
    height: 5rem;
    padding-bottom: 0rem;
    .navbar-toggler {
      display: none;
      background-color: transparent;
      border: 1px solid transparent;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 2.5rem;
      background: $white;
      cursor: pointer;
      // display: none;

      .navbar-toggler:focus,
      .navbar-toggler:hover,
      .navbar-toggler:active {
        // border: none;
        // outline: none;
        // background: red;
      }

      .line {
        width: 2rem;
        height: 3px;
        background: $black;
        margin: 5px 0rem;
        transition: all 0.1s linear;
      }
    }
    .navbar-toggler.nav-open {
      // background: red;
      transition: all 0.1s linear;
      display: block;
      .line {
        margin: 0rem 0rem;
        height: 0.075rem;
        transition: all 0.1s linear;
      }
    }
    .custom-logo-link {
      display: grid;
      align-self: center;
      img {
        width: 10rem;
      }
    }
    .navbar-socials {
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-end;
      grid-gap: 0.5rem;
      align-self: center;

      a.ywig-social-btn {
        padding-left: 1rem;
      }
    }
  }

  #navbarSupportedContent {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    position: relative;
    // justify-items: center;
    align-self: flex-end;
  }
}

// Larger screens only.
@media only screen and (min-width: 900px) {
  // always hide button on larger screen (even if nav-open)
  .header {
    .header-left {
      .navbar-toggler,
      .navbar-toggler.nav-open {
        display: none;
      }
    }

    // target the first ul.sub-menu, use 'left:0', level with main <li> item
    li.menu-item:hover > ul:nth-of-type(1),
    li.menu-item:focus > ul:nth-of-type(1),
    li.menu-item:focus-within > ul:nth-of-type(1) {
      display: grid;
      opacity: 1;
      left:0;
      grid-auto-flow: row;
      grid-gap: 1rem;
      position: absolute;
      min-width: 10rem;
      background: $white;
      box-shadow: 1px 1px 2px $light-black;
      transition: all 0.1s ease-in-out;
      box-sizing: border-box;
      z-index: 10;

      // target all but the first nested ul.sub-menu, use 'left:90%', 'top:0' levelY with it's parent <li> item and slightly overlapping (X). 
      li.menu-item:hover > ul.sub-menu,
      li.menu-item:focus > ul.sub-menu,
      li.menu-item:focus-within > ul.sub-menu {
        // color: blue;
        // background: orange;
        left: 90%;
        top: 0;
      }
      li {
        padding: 0.5rem 1rem;
        word-break: keep-all;
        position: relative;
        height: 100%;
      }
      li a:hover {
        color: $darker-black;
        text-decoration: underline;
      }
    }
    // ul.menu-main-menu > li.menu-item > ul.sub-menu:not(:first-child) {
    //   left: 100%;
    // }
    // hover effects on large screens only
     ul {
      ul.sub-menu {

      }

      // ul.sub-menu li a:hover + ul.sub-menu {
      //   display: grid;
      //   opacity: 1;
      //   grid-auto-flow: row;
      //   grid-gap: 1rem;
      //   position: absolute;
      //   top: 0;
      //   left: 100%;
      //   min-width: 10rem;
      //   background: $white;
      //   box-shadow: 1px 1px 2px $light-black;
      //   transition: all 0.1s ease-in-out;
      //   box-sizing: border-box;
      // }
    }
  }
}

// between 900px and 1300px
@media only screen and (max-width: 1300px) {
  .header {
    // justify-items: center;
    padding: 1rem 0rem;
    .header-left {
      grid-gap: 1rem;
      grid-auto-flow: row;
      justify-items: center;
      position: relative;
      justify-content: center;

      .navbar-socials {
        position: absolute;
        top: 0;
        right: 1rem;
      }
    }
  }
}

// screens smaller than 900px
@media only screen and (max-width: 900px) {
  .header {
    .navbar {
    }
    .header-left {
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 3rem;
      .navbar-toggler {
        display: block;
      }
      .navbar-socials {
        position: relative;
      }
      .navbar-toggler.nav-open {
        transition: all 0.1s linear;
        .line {
          margin: 0rem 0rem;
          height: 0.075rem;
          transition: all 0.1s linear;
        }
      }
    }
    // .header-nav {
    //   position: absolute;
    //   top: 5rem;
    //   width: 100%;

    #navbarSupportedContent {
      position: absolute;
      top: 5rem;
      width: 100%;
      box-shadow: 1px 1px 2px $light-black;
      // transform: translateX(-400vw);
      // visibility: hidden;
      padding: 1rem 2.5rem;
      width: 100%;
      // transition: transform 0.4s ease-in-out;
      overflow: hidden;
      background: $white;
      // position: absolute;
      // animation-duration: 0.3s;
      // animation-name: slideout;
      // animation-iteration-count: infinite;
      -webkit-transform: translateX(-300vw);
      transform: translateX(-300vw);
      -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
      transition: -webkit-transform 0.2s ease-in-out !important;
      transition: transform 0.2s ease-in-out !important;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out !important;

      top: 5rem;

      ul {
        margin: 0rem 1rem;
        grid-auto-flow: row;
        grid-gap: 0;
        li {
          a {
            font-size: 1.1rem;
            color: $black;
          }
        }
      }
      ul.sub-menu {
        display: grid;
        padding-left: 1rem;
        position: relative;
        width: 100%;
        li {
          border-bottom: none;
        }
      }
    }

    #navbarSupportedContent.show {
      // // transform: translateX(0);
      // visibility: visible;
      // // transition: transform 0.4s ease-in-out;
      // max-height: 800px;
      // // animation-duration: 3s;
      // animation-duration: 0.3s;
      // animation-name: slidein;
      -webkit-transform: translateX(0vw);
      transform: translateX(0vw);
      // -webkit-transition: -webkit-transform .2s !important;
      // transition: -webkit-transform .2s !important;
      // transition: transform .2s !important;
      // transition: transform .2s, -webkit-transform .2s !important;
    }
  }
  //}
}

@keyframes slidein {
  from {
    transform: translateX(-400vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400vw);
  }
}
// .navbar-toggler {
//   padding: 0.25rem 0.75rem;
//   font-size: 1.25rem;
//   line-height: 1;
//   background-color: transparent;
//   border: 1px solid transparent;
//   border-radius: 0.25rem;
// }
