@import 'variables';

button:focus,
.btn:focus,
a:focus {
  outline: 2px dotted;
  outline-color: $black;
  outline-style: dotted;
  outline-width: 2px;
}

.btn {
  display: inline-block;
  // font-weight: 500;
  color: $black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 0.146rem solid transparent;
  // padding: 0.3rem 0.9rem;
  padding: 0.236rem 0.382rem;
  font-size: $baseFontSize;
  border-radius: 0.2rem;
  // line-height: 1.5;
  line-height: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
}

.btn-tiny{
  display: grid; // temp. 
  justify-self: flex-start; // temp.
  margin-top: 1rem; // temp.
  border-radius: 0.2rem;
  font-size: $smallFontSize;
  // padding: 0.1rem 0.4rem;
  border: 0.14rem solid transparent;
  border-radius: 0.2rem;
  align-content: center;
  align-items: center;
  display: grid;
  // line-height: 0.8;
  // padding: 0.25rem 0.3rem;
  font-weight: 600;

}

// btn-green

.btn-green {
  background: $greeny-blue-alt;
  // border-color: $black;
  border-color: $greeny-blue-alt;
  color: $black;
}

.btn-green:hover {
  color: $black;
  background-color: $white;
  border-color: $greeny-blue-alt;
  text-decoration: none;
}

.btn-green:focus,
.btn-green.focus {
  color: $black;
  background-color: $white;
  border-color: $greeny-blue-alt;
}

.btn-green.disabled,
.btn-green:disabled {
  color: $white;
  background-color: $light-black;
  border-color: $greeny-blue-alt;
}

.btn-green:not(:disabled):not(.disabled):active,
.btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: $black;
  background-color: $white;
  border-color: $greeny-blue-alt;
}

.btn-green:not(:disabled):not(.disabled):active:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  color: $darker-black;
}
// end btn-green

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: $black;
  text-decoration: none;
}


.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


.btn-dark {
  color: $white;
  background-color: $black;
  border-color: transparent;
}

.btn-dark:hover {
  color: $white;
  background-color: $light-black;
  border-color: $darker-black;
}

.btn-dark:focus,
.btn-dark.focus {
  color: $white;
  background-color: $light-black;
  border-color: $darker-black;

}

.btn-dark.disabled,
.btn-dark:disabled {
  color: $white;
  background-color: $lighter-black;
  border-color: $darker-black;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: $white;
  background-color: $light-black;
  border-color: $darker-black;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  background-color: $lighter-black;
}

// .btn primary
.btn-primary {
  color: $black;
  background-color: $yellow-alt;
  border-color: $yellow;
}

.btn-primary:hover {
  color: $black;
  background-color: $yellow;
  border-color: $yellow;
}

.btn-primary:focus,
.btn-primary.focus {
  color: $black;
  background-color: $yellow;
  border-color: $yellow;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: $black;
  background-color: $yellow-alt;
  border-color: $yellow;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $black;
  background-color: $yellow-alt;
  border-color: $yellow;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

// .btn-outline
.btn-outline-light {
  color: $white;
  border-color: $white;
}

.btn-outline-light:hover {
  color: $black;
  background-color: $white;
  border-color: $dark-white;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  border-color: $lighter-black;
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: $white;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: $black;
  background-color: $white;
  border-color: $dark-white;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  border-color: $lighter-black;
}

.btn-outline-dark {
  color: $black;
  border-color: $darker-black;
}

.btn-outline-dark:hover {
  color: $white;
  background-color: $black;
  border-color: $darker-black;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: $black;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: $white;
  background-color: $black;
  border-color: $darker-black;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}




// link-dark

.link-dark {
  color: $darker-black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: underline;

}

.link-dark:hover {
  color: $white;
  background: $black;
  text-decoration: none;
}

.link-dark:focus,
.link-dark.focus {
  color: $black;
  background-color: $white;
  text-decoration: none;

}
// end link-dark


// link-secondary (green)
.wrap-tag-links > a,
.link-secondary {
  color: $darker-black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: underline;

}
.wrap-tag-links > a:hover,
.link-secondary:hover {
  color: $black;
  background: $greeny-blue-alt;
  text-decoration: none;
}
.wrap-tag-links > a:focus,
.link-secondary:focus,
.link-secondary.focus {
  color: $black;
  background: $greeny-blue-alt;
  text-decoration: none;

}
// end link-primary

// link-primary (yellow)
// can't easily add class to links via the_category() function.
.wrap-cat-links > a,
.link-primary {
  color: $darker-black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: underline;

}
.wrap-cat-links > a:hover,
.link-primary:hover {
  color: $black;
  background: $yellow-alt;
  text-decoration: none;
}
.wrap-cat-links > a:focus,
.link-primary:focus,
.link-primary.focus {
  color: $black;
  background: $yellow-alt;
  text-decoration: none;

}
// end link-primary

// link-light

.link-light {
  color: $white;
  text-decoration: underline;
}

.link-light:hover {
  color: $black;
  background: $white;
}

.link-light:focus,
.link-light.focus {
  color: $white;
  background-color: $black;

}

// end link-light
.wrap-tag-links > a,
.wrap-cat-links > a,
.link-tiny {
  display: grid; 
  justify-self: flex-start; 
  // margin-top: 1rem; 
  border-radius: 0.2rem;
  font-size: $smallFontSize;
  text-transform: uppercase;
  padding: 0.1rem 0.4rem;
  border: 0.14rem solid transparent;
  font-weight: 600;
}
// dark
.btn-link {
  color: $black;
  border-color: $black;
  // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  // border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // text-decoration: none;
}

.btn-link:hover {
  color:$white;
  background: $black;
  // text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled,
.btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}
