  
/*
	@package ywig
*/

/*
	Variables
	------------------------------------------------
*/

$light-green: #9dc27c;
$bright-green: #7ec747;
$dark-green: #3e4e32;
$blue: #0dc5ea;
$orange: #ee9835;
$pink: #ffc0cb;
$beige: #fffeef;
$purple: #9445ce;
$counselling-red: #ee303a;
$white: #fff;