/*
	@package ywig
*/

// ywig-theme
@import 'header/header-no-bs';
@import 'footer/footer';

// Front page sections.
@import 'sections/locations-v';
@import 'sections/youth-clubs';
@import 'sections/what';
@import 'sections/about-2';
@import 'sections/heroine-section-3';
@import 'sections/quickposts';
@import 'sections/funders';

// Pages.
@import 'pages/project';
@import 'pages/youthclub';
@import 'pages/staff';
@import 'pages/resources';
@import 'variables';
@import 'buttons';

@import 'ywig-components/location-info';

@import 'mixins';

$theme-colors: (
  'primary': #0dc5ea,
  'danger': green,
);
$border-radius: 0;

:root {
  // font-size: 16px; // let browser handle so text size can be set by users
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/*

Javascript related classes

*/
.ywig-menu-active {
  // added in app.js for anchor menu items
  border-bottom: 0.2rem solid $black;
}

.header.with-bg-color {
  box-shadow: 1px 1px 2px $light-black;
  transition: all 0.2s ease-in-out;
  .header-left {
    padding: 0rem 3rem;
    transition: all 0.2s ease-in-out;
  }
}
body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: $black;
  margin: 1rem 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-weight: 800;
}

h2,
.heading-size-2 {
  // font-size: 2.4rem;
}

h3,
.heading-size-3 {
  font-size: 1.2rem;
}
h4,
.heading-size-4 {
}

.section-heading {
  font-size: 2rem;
  font-size: 1.8rem;
  letter-spacing: -1px;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 3rem 1rem;
  transform: rotate(-2deg);
}
p {
  color: $black;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem 0;
  padding: 0;
  line-height: 150%;
}

a {
  color: $blue-alt;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: $blue;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: $blue-alt;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 0.5rem;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Skip Link --------------------------------- */

.skip-link {
  right: -9999rem;
  top: 2.5rem;
  z-index: 999999999;
  text-decoration: underline;
}

.skip-link:focus {
  display: block;
  right: 6px;
  top: 7px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  padding: 0.5rem;
  z-index: 100000;
  left: auto;
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

section {
  padding: 0rem 3rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// CSS Grid classes (maybe not used)
.acc {
  display: grid;
  align-content: center;
}
.aic {
  display: grid;
  align-items: center;
}
.jcc {
  display: grid;
  justify-content: center;
}
.jic {
  display: grid;
  justify-items: center;
}

/* YWIG FONT ICONS - (create more by putting fontawesome svgs through icomoon.io app)  */

// RED_FLAG | See urls
@font-face {
  font-family: 'ywig-icon';
  src: url('/ywig-theme/wp-content/themes/ywig-theme/src/fonts/ywig-icon.eot?77zyzo');
  src: url('/ywig-theme/wp-content/themes/ywig-theme/src/fonts/ywig-icon.eot?77zyzo#iefix')
      format('embedded-opentype'),
    url('/ywig-theme/wp-content/themes/ywig-theme/src/fonts/ywig-icon.ttf?77zyzo')
      format('truetype'),
    url('/ywig-theme/wp-content/themes/ywig-theme/src/fonts/ywig-icon.woff?77zyzo')
      format('woff'),
    url('/ywig-theme/wp-content/themes/ywig-theme/src/fonts/ywig-icon.svg?77zyzo#ywig-icon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ywig-icon {
  font-family: 'ywig-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ywig-facebook:before {
  content: '\e900';
}
.ywig-instagram:before {
  content: '\e901';
}
.ywig-left:before {
  content: '\e902';
}
.ywig-right:before {
  content: '\e903';
}
.ywig-twitter:before {
  content: '\e904';
}
.ywig-youtube:before {
  content: '\e905';
}

/* END YWIG FONT ICONS */

/* MENU - no bootstrap */

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (max-width: 576px) {
}

/*
taxonomy-location
*/
.location-tax-project-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

// index.php
main {
  min-height: calc(100vh - 9rem);
  margin-top: 9rem;
  display: block;
  // background: yellow;
}

main::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(http://localhost/ywig-theme/wp-content/uploads/2020/12/leafs.png);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.06;
  background-repeat: repeat;
}

article.type-project {
  background: orange;
  @include project-info;
  opacity: 1;
  display: grid;
  h2 a {
    color: $black;
  }
}

article.youthclub {
  display: grid;
  margin: 2rem 3rem;
  justify-content: flex-start;
  background: pink;
  h2.entry-title {
    color: red;
  }
}

h2.twist {
  letter-spacing: -1px;
  display: inline-block;
  padding: 0.5rem 1rem;
  transform: rotate(-2deg);
  color: $black;
  padding: 0;
}
